/* --------------------------------
-------------- Global -------------
---------------------------------*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 20px;
}

/* --------------------------------
------------- Big Screens ---------
---------------------------------*/

.starting-screen,
.game-over {
  margin-top: 22%;
  margin-bottom: 22%;
  text-align: center;
}

/* --------------------------------
-------------- Header -------------
---------------------------------*/

.timer {
  text-align: center;
  font-size: 30px;
}

.title {
  text-align: center;
}

.wallet {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 25%;
  margin-bottom: 5%;
}

.wallet p {
  align-content: space-between;
  white-space: nowrap;
}

.search-bar {
  font-size: 25px;
  position: absolute;
  top: 2%;
  right: 1%;
}

.search-bar input {
  height: 25px;
  width: 300px;
}

.shopping-cart {
  position: absolute;
  top: 2%;
  left: 1%;
}

.shopping-cart h2 {
  margin: 0;
}

/* --------------------------------
------------- Items ---------------
---------------------------------*/

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.listItem {
  border: 2px solid black;
  width: 25%;
  margin-right: 1.5%;
  margin-left: 1.5%;
  margin-bottom: 3%;
  padding: 1%;
}

.listItem img {
  max-width: 90%;
  max-height: 100px;
}

.buy-btn-green,
.buy-btn-red {
  color: white;
  font-size: 20px;
  border: 2px solid black;
}

.buy-btn-green {
  background-color: green;
}

.buy-btn-red {
  background-color: red;
}

.buy-btn-green:active,
.buy-btn-red:active {
  opacity: 0.7;
}

/* --------------------------------
-------------- Footer -------------
---------------------------------*/

.footer {
  text-align: center;
  margin: auto;
  width: 75%;
}

.page-btn {
  width: 6%;
  margin: 1%;
}
